<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="io.sarl.lang.targetplatform" sequenceNumber="38">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.powermock.mockito-junit.feature.feature.group" version="1.5.4.1"/>
<repository location="http://powermock-osgi.googlecode.com/svn/updateSite/1.5.4.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.tools.m2e.jdt.feature.feature.group" version="1.0.1.201209200903"/>
<repository location="http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-jdt-compiler/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.8.4.v201508050135"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.0.v20150602-1417"/>
<unit id="org.eclipse.recommenders.rcp.feature.feature.group" version="2.2.0.v20150609-1848"/>
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="4.0.0.201506090130-r"/>
<unit id="org.eclipse.egit.feature.group" version="4.0.0.201506090130-r"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.0.v20150603-2000"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.4.0.v20150618-1659"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="4.0.0.201506090130-r"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.6.0.20150526-2032"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
</target>
