<?eclipse version="3.0"?>
<plugin>
   <extension-point id="projectSREProviderFactory" name="%projectSREProviderFactory" schema="schema/projectSREProviderFactory.exsd"/>
   <extension-point id="sreInstallations" name="%sreInstallations" schema="schema/sreInstallations.exsd"/>
   <extension-point id="sreInstallPages" name="%sreInstallPages" schema="schema/sreInstallPages.exsd"/>
   <extension-point id="sarlLaunchConfigurationPanels" name="%sarlLaunchConfigurationPanels" schema="schema/sarlLaunchConfigurationPanels.exsd"/>
   <extension-point id="projectConfigurationFragment" name="%projectConfigurationFragment" schema="schema/projectConfigurationFragment.exsd"/>
   <extension-point id="projectFolderAccessor" name="%projectFolderAccessor" schema="schema/projectFolderAccessor.exsd"/>
</plugin>
