<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.Examples"
			name="%SARLExamplesCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.Examples"
			name="%SARLExamplesProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<!-- ========= io.sarl.demos.basic.helloworld Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.helloworld"
			name="%HelloworldExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HelloworldExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.helloworld"
			name="Helloworld Agent"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HelloworldExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.examples.helloworld" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-helloworld" contentURI="contents/io-sarl-demos-basic-helloworld.zip" description="%HelloworldExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-helloworld/src/main/sarl/io/sarl/demos/basic/helloworld/helloworld.sarl"/>

		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.basic.behaviors Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.behaviors"
			name="%BehaviorsExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.behaviors"
			name="%BehaviorsExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.examples.behaviors" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-behaviors" contentURI="contents/io-sarl-demos-basic-behaviors.zip" description="%BehaviorsExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-behaviors/src/main/sarl/io/sarl/demos/basic/behaviors/behaviors.sarl"/>

		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.basic.behaviorinheritance Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.behaviorinheritance"
			name="%BehaviorsInheritanceExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsInheritanceExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.behaviorinheritance"
			name="%BehaviorsInheritanceExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsInheritanceExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.behaviorinheritance" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-behaviorinheritance" contentURI="contents/io-sarl-demos-basic-behaviorinheritance.zip" description="%BehaviorsInheritanceExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-behaviorinheritance/src/main/sarl/io/sarl/demos/basic/inheritance/inheritance.sarl"/>

		</example>
	</extension>
		
</plugin>