<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.Examples"
			name="%SARLExamplesCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.Examples"
			name="%SARLExamplesProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<!-- ========= io.sarl.demos.basic.helloworld Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.helloworld"
			name="%HelloworldExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HelloworldExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.helloworld"
			name="%HelloworldExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HelloworldExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.examples.helloworld" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-helloworld" contentURI="contents/io-sarl-demos-basic-helloworld.zip" description="%HelloworldExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-helloworld/src/main/sarl/io/sarl/demos/basic/helloworld/helloworld.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.basic.behaviors Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.behaviors"
			name="%BehaviorsExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.behaviors"
			name="%BehaviorsExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.examples.behaviors" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-behaviors" contentURI="contents/io-sarl-demos-basic-behaviors.zip" description="%BehaviorsExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-behaviors/src/main/sarl/io/sarl/demos/basic/behaviors/behaviors.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.basic.behaviorinheritance Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.behaviorinheritance"
			name="%BehaviorsInheritanceExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsInheritanceExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.behaviorinheritance"
			name="%BehaviorsInheritanceExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsInheritanceExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.behaviorinheritance" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-behaviorinheritance" contentURI="contents/io-sarl-demos-basic-behaviorinheritance.zip" description="%BehaviorsInheritanceExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-behaviorinheritance/src/main/sarl/io/sarl/demos/basic/inheritance/inheritance.sarl"/>
		</example>
	</extension>

	<!-- ========= io.sarl.demos.basic.countdown Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.countdown"
			name="%CountdownExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CountdownExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.countdown"
			name="%CountdownExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CountdownExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.countdown" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-countdown" contentURI="contents/io-sarl-demos-basic-countdown.zip" description="%CountdownExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-behaviorinheritance/src/main/sarl/io/sarl/demos/basic/countdown/countdown.sarl"/>
		</example>
	</extension>	

	<!-- ========= io.sarl.demos.basic.holarchy Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.holarchy"
			name="%HolarchyExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HolarchyExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.holarchy"
			name="%HolarchyExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HolarchyExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.holarchy" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-holarchy" contentURI="contents/io-sarl-demos-basic-holarchy.zip" description="%HolarchyExample_Description"/>
			<fileToOpen location="io-sarl-demos-basic-behaviorinheritance/src/main/sarl/io/sarl/demos/basic/holarchy/holarchy.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.counter Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.counter"
			name="%CounterExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CounterExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.counter"
			name="%CounterExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CounterExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.counter" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-counter" contentURI="contents/io-sarl-demos-counter.zip" description="%CounterExample_Description"/>
			<fileToOpen location="io-sarl-demos-counter/src/main/sarl/io/sarl/demos/counter/counteragent.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.factorial Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.factorial"
			name="%FactorialExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%FactorialExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.factorial"
			name="%FactorialExample_Name"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Examples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%FactorialExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.factorial" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-factorial" contentURI="contents/io-sarl-demos-factorial.zip" description="%FactorialExample_Description"/>
			<fileToOpen location="io-sarl-demos-factorial/src/main/sarl/io/sarl/demos/factorial/basic/basicfactorial.sarl"/>
		</example>
	</extension>	
				
	<!-- ========= Intro (welcome page) Extensions ========= -->	
	
	<extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/SARL-Example-Intro.xml">
      </configExtension>
	</extension>

	<!-- adding a new quicklink for the hello world example -->
   <extension
         point="org.eclipse.ui.intro.quicklinks">
         <command
          	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.examples.helloworld)"            
            description="%HelloworldExample_Description"
            label="%HelloworldExample_Name"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/circles/graphics/icons/ctool/sa_onesample48.gif">
         </command>
   </extension>

		
</plugin>