<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="io.sarl.eclipse.targetplatform" sequenceNumber="131">
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/releases/2024-09"/>
	    <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.4.500.v20240722-2103"/>
	    <unit id="org.eclipse.e4.rcp.feature.group" version="4.33.0.v20240903-0618"/>
	    <unit id="org.eclipse.epp.package.java.feature.feature.group" version="4.33.0.20240905-0613"/>
	    <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.15.200.v20240722-2103"/>
	    <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.25.200.v20240722-2103"/>
	    <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2600.v20240722-2106"/>
	    <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.9.0.202210162353"/>
	    <unit id="org.eclipse.jdt.feature.group" version="3.19.600.v20240903-0240"/>
	    <unit id="org.eclipse.jgit.feature.group" version="7.0.0.202409031743-r"/>
	    <unit id="org.eclipse.jgit.gpg.bc.feature.group" version="7.0.0.202409031743-r"/>
	    <unit id="org.eclipse.jgit.http.apache.feature.group" version="7.0.0.202409031743-r"/>
	    <unit id="org.eclipse.jgit.ssh.apache.feature.group" version="7.0.0.202409031743-r"/>
	    <unit id="org.eclipse.jgit.ssh.jsch.feature.group" version="7.0.0.202409031743-r"/>
	    <unit id="org.eclipse.m2e.feature.feature.group" version="2.6.2.20240828-1954"/>
	    <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.6.2.20240828-1954"/>
	    <unit id="org.eclipse.oomph.preferences.feature.group" version="1.18.0.v20240510-1552"/>
	    <unit id="org.eclipse.oomph.targlets.feature.group" version="1.26.0.v20240713-1033"/>
	    <unit id="org.eclipse.oomph.version.feature.group" version="1.22.0.v20240821-0658"/>
	    <unit id="org.eclipse.oomph.workingsets.feature.group" version="1.19.0.v20240510-1552"/>
	    <unit id="org.eclipse.platform.feature.group" version="4.33.0.v20240903-0618"/>
	    <unit id="org.eclipse.platform.ide" version="4.33.0.I20240903-0240"/>
	    <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.34.0.v202405130132"/>
	    <unit id="org.eclipse.xsd.feature.group" version="2.22.0.v20240604-0832"/>
	    <unit id="org.eclipse.xtext.sdk.feature.group" version="2.36.0.v20240825-0714"/>
	    <unit id="org.eclipse.epp.package.dsl.feature.feature.group" version="4.33.0.20240905-0613"/>
	    <unit id="org.eclipse.epp.package.rcp.feature.feature.group" version="4.33.0.20240905-0613"/>
    </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,system,import" includeSource="true" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.sarl.lang</groupId>
				  <artifactId>compiler</artifactId>
				  <version>0.15.0-SNAPSHOT</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.sarl.baseutils</groupId>
				  <artifactId>afc.extension</artifactId>
				  <version>0.15.0-SNAPSHOT</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,test,system,import" includeSource="true" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.sarl.sre.janus</groupId>
				  <artifactId>janus.network</artifactId>
				  <version>3.0.15.0-SNAPSHOT</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,system,import" includeSource="true" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.sarl.sdk</groupId>
				  <artifactId>sdk</artifactId>
				  <version>0.15.0-SNAPSHOT</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,system,import" includeSource="true" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.sarl.sdk</groupId>
				  <artifactId>api.experienceindex</artifactId>
				  <version>0.15.0-SNAPSHOT</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,system,import" includeSource="true" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.sarl.lang</groupId>
				  <artifactId>pythongenerator</artifactId>
				  <version>0.15.0-SNAPSHOT</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,system,import" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>io.bootique</groupId>
				  <artifactId>bootique</artifactId>
				  <version>3.0.M1</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
</target>