<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="io.sarl.lang.targetplatform" sequenceNumber="130">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2019-06"/>
			<unit id="epp.package.java" version="4.12.0.20190614-1200"/>
			<unit id="org.eclipse.egit.feature.group" version="5.4.0.201906121030-r"/>
			<unit id="org.eclipse.egit.mylyn.feature.group" version="5.4.0.201906121030-r"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.7.7.v20190521-1752"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.400.v20190515-0925"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.0.v20190605-1800"/>
			<unit id="org.eclipse.jdt.source.feature.group" version="3.18.0.v20190605-1800"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.12.0.20190529-1916"/>
			<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.12.0.20190529-1916"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.0.v20190605-1800"/>
			<unit id="org.eclipse.platform.feature.group" version="4.12.0.v20190605-1801"/>
			<unit id="org.eclipse.platform.ide" version="4.12.0.I20190605-1800"/>
			<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.10.100.v201904082145"/>
			<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.11.0.v201905071717"/>
			<unit id="org.eclipse.xsd.feature.group" version="2.17.0.v20190323-1100"/>
			<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.4.201905300046"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.18.0.v20190528-0716"/>
			<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.13.0.v201903222120"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="net.bytebuddy.byte-buddy" version="1.9.3"/>
			<unit id="org.arakhne.afc.core.references" version="15.2.0"/>
			<unit id="org.arakhne.afc.core.text" version="15.2.0"/>
			<unit id="org.arakhne.afc.core.util" version="15.2.0"/>
			<unit id="org.arakhne.afc.core.vmutils" version="15.2.0"/>
			<unit id="org.mockito.mockito-core" version="2.23.4"/>
			<unit id="org.objenesis" version="2.6.0"/>
			<repository location="http://download.tuxfamily.org/arakhne/p2/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.jboss.tools.m2e.jdt.feature.feature.group" version="1.0.1.201209200903"/>
			<repository location="http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-jdt-compiler/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="aopalliance" version="1.0.0"/>
			<unit id="com.google.guava" version="21.0.0"/>
			<unit id="com.google.guava.testlib" version="21.0.0"/>
			<unit id="com.google.gson" version="2.8.5"/>
			<unit id="com.google.inject" version="4.1.0"/>
			<unit id="com.google.inject.multibindings" version="4.1.0"/>
			<unit id="com.hazelcast" version="3.11.2"/>
			<unit id="org.zeromq.jeromq" version="0.5.0"/>
			<unit id="javax.inject" version="1.0.0"/>
			<repository location="http://dependencies.sarl.io"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>