<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="io.sarl.lang.targetplatform" sequenceNumber="130">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.tuxfamily.org/arakhne/p2/"/>
			<unit id="io.bootique" version="1.1.0"/>
			<unit id="org.mockito.mockito-core" version="3.2.4"/>
			<unit id="org.objenesis" version="2.6.0"/>
			<unit id="jakarta.xml.bind-api" version="2.3.2"/>
			<unit id="net.sf.jopt-simple.jopt-simple" version="5.0.3"/>
			<unit id="stax2-api" version="4.2.0"/>
			<unit id="slf4j.api" version="2.0.0.alpha1"/>
			<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.11.0"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="2.11.0"/>
			<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.11.0"/>
			<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.11.0"/>
			<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.11.0"/>
			<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.11.0"/>
			<unit id="org.arakhne.afc.bootique.applicationdata2" version="16.0.0"/>
			<unit id="org.arakhne.afc.bootique.log4j" version="16.0.0"/>
			<unit id="org.arakhne.afc.bootique.printconfig" version="16.0.0"/>
			<unit id="org.arakhne.afc.bootique.synopsishelp" version="16.0.0"/>
			<unit id="org.arakhne.afc.bootique.variables" version="16.0.0"/>
			<unit id="org.arakhne.afc.core.inputoutput" version="16.0.0"/>
			<unit id="org.arakhne.afc.core.references" version="16.0.0"/>
			<unit id="org.arakhne.afc.core.text" version="16.0.0"/>
			<unit id="org.arakhne.afc.core.util" version="16.0.0"/>
			<unit id="org.arakhne.afc.core.vmutils" version="16.0.0"/>
			<unit id="org.arakhne.afc.slf4j.log4j" version="16.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-jdt-compiler/"/>
			<unit id="org.jboss.tools.m2e.jdt.feature.feature.group" version="1.0.1.201209200903"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://dependencies.sarl.io"/>
			<unit id="aopalliance" version="1.0.0"/>
-			<unit id="com.google.guava" version="27.1.0.jre"/>
-			<unit id="com.google.guava.testlib" version="27.1.0.jre"/>
			<unit id="com.google.gson" version="2.8.6"/>
			<unit id="com.google.inject" version="4.2.3"/>
			<unit id="javax.inject" version="1.0.0"/>
			<unit id="java-uuid-generator" version="4.0.1"/>
			<unit id="com.hazelcast" version="4.1.1"/>
			<unit id="com.hazelcast.source" version="4.1.1"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2020-06"/>
			<unit id="epp.package.dsl" version="4.16.0.20200615-1200"/>
			<unit id="epp.package.java" version="4.16.0.20200615-1200"/>
			<unit id="org.eclipse.egit.feature.group" version="5.8.0.202006091008-r"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.14.0.v20200424-0456"/>
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.11.3.v20200520-0756"/>
			<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.11.3.v20200520-0756"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.22.0.v20200519-1135"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.8.3.v20200526-1554"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.800.v20200514-1529"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.400.v20200604-0540"/>
			<unit id="org.eclipse.jdt.source.feature.group" version="3.18.400.v20200604-0540"/>
			<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.9.0.v20200229-1511"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.16.0.20200610-1735"/>
			<unit id="org.eclipse.mylyn.git.feature.group" version="1.17.0.v20180628-1737"/>
			<unit id="org.eclipse.oomph.setup.feature.group" version="1.17.0.v20200606-0914"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.400.v20200604-0540"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.400.v20200604-0540"/>
			<unit id="org.eclipse.platform.feature.group" version="4.16.0.v20200604-0951"/>
			<unit id="org.eclipse.platform.ide" version="4.16.0.I20200604-0540"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.16.0.v20200604-0951"/>
			<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.10.100.v201904082145"/>
			<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.11.0.v201905071717"/>
			<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.18.0.v202005180122"/>
			<unit id="org.eclipse.xsd.feature.group" version="2.18.0.v20200319-1246"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.22.0.v20200602-1533"/>
			<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.5.202002191804"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-tycho/0.9.0/N/LATEST"/>
			<unit id="org.sonatype.tycho.m2e.feature.feature.group" version="0.9.0.201811261502"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>