<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="io.sarl.lang.targetplatform" sequenceNumber="130">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.tuxfamily.org/arakhne/p2/"/>
			<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.12.3"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="2.12.3"/>
			<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.12.3"/>
			<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.12.3"/>
			<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.12.3"/>
			<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.12.3"/>
			<unit id="io.bootique" version="2.0.0.M1"/>
			<unit id="io.bootique.di.bootique-di" version="2.0.0.M1"/>
			<unit id="net.sf.jopt-simple.jopt-simple" version="5.0.3"/>
			<unit id="org.arakhne.afc.bootique.log4j" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.bootique.printconfig" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.bootique.synopsishelp" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.bootique.variables" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.core.inputoutput" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.core.references" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.core.text" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.core.util" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.core.vmutils" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.slf4j.backwardcompat" version="18.0.0.20211011102340"/>
			<unit id="org.arakhne.afc.slf4j.log4j" version="18.0.0.20211011102340"/>
			<unit id="org.mockito.mockito-core" version="4.0.0"/>
			<unit id="slf4j.api" version="2.0.0.alpha1"/>
			<unit id="slf4j.api.source" version="2.0.0.alpha1"/>
			<unit id="slf4j.log4j12" version="2.0.0.alpha1"/>
			<unit id="stax2-api" version="4.2.1"/>
			<unit id="org.arakhne.afc.bootique.applicationdata2" version="18.0.0.20211011102340"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-jdt-compiler/"/>
			<unit id="org.jboss.tools.m2e.jdt.feature.feature.group" version="1.0.1.201209200903"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://dependencies.sarl.io"/>
			<unit id="aopalliance" version="1.0.0"/>
			<unit id="com.google.guava" version="21.0.0"/>
			<unit id="com.google.guava.testlib" version="30.1.1.jre"/>
			<unit id="com.google.gson" version="2.8.6"/>
			<unit id="com.google.inject" version="5.0.1"/>
			<unit id="javax.inject" version="1.0.0"/>
			<unit id="java-uuid-generator" version="4.0.1"/>
			<unit id="com.hazelcast" version="4.1.1"/>
			<unit id="com.hazelcast.source" version="4.1.1"/>
			<unit id="com.google.guava.failureaccess" version="1.0.1"/>
			<unit id="com.google.guava.failureaccess.source" version="1.0.1"/>
			<unit id="com.google.guava.listenablefuture" version="9999.0.0.empty-to-avoid-conflict-with-guava"/>
			<unit id="com.google.guava.source" version="30.1.1.jre"/>
			<unit id="javax.annotation.jsr250-api" version="1.0.0"/>
			<unit id="com.google.guava" version="27.1.0.jre"/>
			<unit id="com.google.guava" version="30.1.1.jre"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-12"/>
			<unit id="epp.package.dsl" version="4.22.0.20211202-1200"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="4.22.0.v20211123-0851"/>
			<unit id="org.eclipse.egit.feature.group" version="6.0.0.202111291000-r"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.19.0.v20210925-0555"/>
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.12.1.v20210218-2134"/>
			<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.12.1.v20210218-2134"/>
			<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.12.1.v20210218-2134"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.28.0.v20211110-0654"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.9.2.v20210826-0851"/>
			<unit id="org.eclipse.epp.package.java.feature.feature.group" version="4.22.0.20211202-1200"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1400.v20211117-0650"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.1000.v20211124-1800"/>
			<unit id="org.eclipse.jgit.feature.group" version="6.0.0.202111291000-r"/>
			<unit id="org.eclipse.jgit.gpg.bc.feature.group" version="6.0.0.202111291000-r"/>
			<unit id="org.eclipse.jgit.http.apache.feature.group" version="6.0.0.202111291000-r"/>
			<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="6.0.0.202111291000-r"/>
			<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.12.0.v20210402-1310"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.19.0.20211116-0804"/>
			<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.19.0.20211118-0811"/>
			<unit id="org.eclipse.mylyn.git.feature.group" version="1.17.0.v20191002-0716"/>
			<unit id="org.eclipse.oomph.preferences.feature.group" version="1.14.0.v20210924-1427"/>
			<unit id="org.eclipse.oomph.projectconfig.feature.group" version="1.14.0.v20210924-1427"/>
			<unit id="org.eclipse.oomph.setup.sdk.feature.group" version="1.22.0.v20211116-0849"/>
			<unit id="org.eclipse.oomph.setup.targlets.feature.group" version="1.15.0.v20210924-1427"/>
			<unit id="org.eclipse.oomph.setup.workingsets.feature.group" version="1.15.0.v20211015-0620"/>
			<unit id="org.eclipse.oomph.version.feature.group" version="1.15.0.v20210924-1427"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.1000.v20211124-1800"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.1000.v20211124-1800"/>
			<unit id="org.eclipse.platform.feature.group" version="4.22.0.v20211124-1800"/>
			<unit id="org.eclipse.platform.ide" version="4.22.0.I20211124-1800"/>
			<unit id="org.eclipse.platform.sdk" version="4.22.0.I20211124-1800"/>
			<unit id="org.eclipse.platform.source.feature.group" version="4.22.0.v20211124-1800"/>
			<unit id="org.eclipse.xsd.sdk.feature.group" version="2.28.0.v20210924-1719"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
			<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.5.202002191804"/>
			<unit id="org.eclipse.mylyn.github.feature.feature.group" version="6.0.0.202111291000-r"/>
			<unit id="org.eclipse.oomph.setup.git.feature.group" version="1.20.0.v20211007-0506"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-tycho/0.9.0/N/LATEST"/>
			<unit id="org.sonatype.tycho.m2e.feature.feature.group" version="0.9.0.201811261502"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>