<?eclipse version="3.0"?>

<plugin>

 	<extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="io.sarl.eclipse.splash.SarlSplashHandler"
            id="io.sarl.eclipse.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="io.sarl.eclipse-dsl4sarl.io_sarl_lang_sarl_dsl_product"
            splashId="io.sarl.eclipse.splash">
      </splashHandlerProductBinding>
   </extension>

    <extension
          id="io.sarl.lang.sarl-dsl.product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="%product.name">
          <property
                name="aboutText"
                value="%about.general.text">
          </property>
          <property
                name="aboutImage"
                value="icons/eclipse-about-banner.png">
          </property>
          <property
                name="appName"
                value="%product.name">
          </property>
          <property
                name="startupProgressRect"
                value="5,280,442,15">
          </property>
          <property
                name="startupForegroundColor"
                value="F3F3F3">
          </property>
          <property
                name="startupMessageRect"
                value="7,252,330,20">
          </property>
          <property
	            name="cssTheme"
	            value="org.eclipse.e4.ui.css.theme.e4_classic">
	      </property>
          <property
                name="windowImages"
                value="icons/sarl_16.png,icons/sarl_32.png,icons/sarl_48.png,icons/sarl_64.png,icons/sarl_128.png,icons/sarl_256.png">
          </property>
          <property
                name="preferenceCustomization"
                value="platform:/plugin/io.sarl.eclipse/plugin_customization.ini">
          </property>
       </product>
    </extension>
    <extension
          id="io_sarl_lang_sarl_dsl_product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="%product.name">
          <property
                name="windowImages"
                value="icons/sarl_16.png,icons/sarl_32.png,icons/sarl_48.png,icons/sarl_64.png,icons/sarl_128.png,icons/sarl_256.png">
          </property>
          <property
                name="aboutText"
                value="%about.general.text">
          </property>
          <property
                name="aboutImage"
                value="icons/eclipse-about-banner.png">
          </property>
          <property
                name="startupForegroundColor"
                value="F3F3F3">
          </property>
          <property
                name="startupProgressRect"
                value="5,280,442,15">
          </property>
          <property
                name="startupMessageRect"
                value="7,252,330,20">
          </property>
          <property
                name="preferenceCustomization"
                value="platform:/plugin/io.sarl.eclipse-dsl4sarl/plugin_customization.ini">
          </property>
       </product>
    </extension>
</plugin>
