# NetBean / Eclipse
bin
*.java._trace
*.java_trace
*.smap
.project
.classpath
.settings
.metadata

# Subversion and CVS
.svn
.cvs

# Maven
target
generated-sources

# Compiled files
*.class
*.o
*.obj
*.a
*.lib
*.dll
*.exe

# Temp files
*.bak
*~

#Others
.DS_Store
