<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
        point="org.eclipse.m2e.core.projectConfigurators">
     <configurator
           class="io.sarl.m2e.SARLMavenExecutableExtensionFactory:io.sarl.m2e.config.SARLProjectConfigurator"
           id="io.sarl.m2e.sarlConfigurator"
           name="%m2e.sarlconfigurator.name"/>
   </extension>

   <extension
         point="io.sarl.eclipse.projectSREProviderFactory">
     <projectSREProviderFactory
           class="io.sarl.m2e.sre.MavenProjectSREProviderFactory"/>
   </extension>

	<extension point="org.eclipse.ui.newWizards">
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.m2e.wizards.newproject.NewMavenSarlProjectWizard"
		        icon="icons/new_m2_sarl_project.png"
		        id="io.sarl.m2e.wizard.newSarlMavenProject.1"
		        name="%wizard.name.newSarlMavenProject"
		        finalPerspective="io.sarl.eclipse.perspective.devel"
		        preferredPerspectives="io.sarl.eclipse.perspective.devel,org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective"
		        project="true">
				<description>%wizard.description.newSarlMavenProject.short"</description>
		  </wizard>
		  <wizard
		        category="org.eclipse.m2e"
		        class="io.sarl.m2e.wizards.newproject.NewMavenSarlProjectWizard"
		        icon="icons/new_m2_sarl_project.png"
		        id="io.sarl.m2e.wizard.newSarlMavenProject.2"
		        name="%wizard.name.newSarlMavenProject"
		        finalPerspective="io.sarl.eclipse.perspective.devel"
		        preferredPerspectives="io.sarl.eclipse.perspective.devel,org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective"
		        project="true">
				<description>%wizard.description.newSarlMavenProject.short"</description>
		  </wizard>
	</extension>
	<extension point="org.eclipse.ui.importWizards">
     <wizard id="io.sarl.m2e.wizard.importSarlMavenProject.1"
             class="io.sarl.m2e.wizards.importproject.ImportMavenSarlProjectWizard"
             icon="icons/import_m2_sarl_project.png"
             category="io.sarl.eclipse.category.wizards"
             name="%wizard.name.importSarlMavenProject">
        <description>%wizard.description.importwSarlMavenProject.short</description>
     </wizard>
     <wizard id="io.sarl.m2e.wizard.importSarlMavenProject.2"
             class="io.sarl.m2e.wizards.importproject.ImportMavenSarlProjectWizard"
             icon="icons/import_m2_sarl_project.png"
             category="org.eclipse.m2e"
             name="%wizard.name.importSarlMavenProject">
        <description>%wizard.description.importwSarlMavenProject.short</description>
     </wizard>
	</extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="io.sarl.eclipse.perspective.devel">
         <newWizardShortcut id="io.sarl.m2e.wizard.newSarlMavenProject"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="io.sarl.m2e.wizard.newSarlMavenProject"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut id="io.sarl.m2e.wizard.newSarlMavenProject"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.intro.quicklinks">
         <command
          	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.m2e.wizard.newSarlMavenProject)"
            description="%wizard.description.newSarlMavenProject.long"
            label="%wizard.description.newSarlMavenProject.short"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/new-project.png">
         </command>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus"> 
	  <objectContribution id="io.sarl.m2e.enableSarlMavenNatureAction"
	                      objectClass="org.eclipse.core.resources.IProject"
	                      adaptable="true">
	     <action id="io.sarl.m2e.enableSarlMavenNatureAction"
	             class="io.sarl.m2e.wizards.importproject.EnableSarlMavenNatureAction"
	             label="%action.name.converttosarlmaven"
	             style="push"
	             menubarPath="org.eclipse.ui.projectConfigure/additions"
	             enablesFor="+"/>
	     <visibility>
	       <and>
	         <objectState name="open" value="true"/>
	         <not>
	           <objectState name="nature" value="io.sarl.eclipse.natures.SARLProjectNature"/>
	         </not>
	       </and>
	     </visibility>
	  </objectContribution>
   </extension> 

</plugin>
