<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="io.sarl.lang.targetplatform" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.4.0.20130601-0317"/>
<unit id="org.eclipse.sdk.feature.group" version="4.3.1.v20130911-1000"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130828-0031"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.5.0.v201312110906"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.5.0.v201312110906"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.5.0.v201312110906"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.5.0.v201312110906"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.5.0.v201312110944"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.5.0.v201312110944"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.5.0.v201312110906"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.5.0.v201312110307"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
</locations>
</target>
