<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
       id="BSPLProjectNature"
       name="%nature.name"
       point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="io.sarl.bspl.eclipse.natures.BSPLProjectNature" />
		</runtime>
		<!-- <requires-nature id="io.sarl.eclipse.natures.SARLProjectNature"/> -->
	</extension>
		
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/bspl_project_nature_overlay.png"
           id="io.sarl.bspl.eclipse.natures.BSPLProjectNatureImage"
           natureId="io.sarl.bspl.eclipse.natures.BSPLProjectNature">
     </image>
  </extension>
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="io.sarl.bspl.eclipse.category.wizards"
			name="%category.name">
		</category>
		  <wizard 
		        category="io.sarl.bspl.eclipse.category.wizards"
		        class="io.sarl.bspl.eclipse.BSPLEclipseExecutableExtensionFactory:io.sarl.bspl.eclipse.wizards.newfile.NewBsplFileWizard"
		        icon="icons/bspl_new_file_16.png"
		        id="io.sarl.bspl.eclipse.wizard.newBsplSpecification"
		        name="%wizard.name.newBsplSpecification">
				<description>%wizard.description.newBsplSpecification</description>
		  </wizard>
	</extension>
  <!-- Project configurators -->
   <extension
         point="org.eclipse.ui.ide.projectConfigurators">
      <projectConfigurator
            class="io.sarl.bspl.eclipse.natures.BSPLProjectConfigurator"
            label="%projectconfigurator.name">
      </projectConfigurator>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
         <command commandId="io.sarl.bspl.eclipse.natures.addBsplNature"
                  label="%action.addBsplNature"
                  style="push">
             <visibleWhen checkEnabled="false">
             	<with variable="selection">
             		<iterate ifEmpty="false" operator="or">
             			<adapt type="org.eclipse.core.resources.IProject">
             				<not>
	             				<test property="org.eclipse.core.resources.projectNature"
	            					value="io.sarl.bspl.eclipse.BSPLProjectNature"/>
             				</not>
             			</adapt>
             		</iterate>
             	</with>
             </visibleWhen>
         </command>
         <command commandId="io.sarl.eclipse.natures.removeBsplNature"
                  label="%action.removeBsplNature"
                  style="push">
             <visibleWhen checkEnabled="false">
             	<with variable="selection">
             		<iterate ifEmpty="false" operator="or">
             			<adapt type="org.eclipse.core.resources.IProject">
             				<test property="org.eclipse.core.resources.projectNature"
            					value="io.sarl.bspl.eclipse.BSPLProjectNature"/>
             			</adapt>
             		</iterate>
             	</with>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="io.sarl.bspl.eclipse.natures.addBsplNature"
            name="%action.addBsplNature" />
      <command id="io.sarl.eclipse.natures.removeBsplNature"
            name="%action.removeBsplNature" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
            class="io.sarl.bspl.eclipse.BSPLEclipseExecutableExtensionFactory:io.sarl.bspl.eclipse.natures.AddBsplNatureHandler"
            commandId="io.sarl.bspl.eclipse.natures.addBsplNature" />
   		<handler
            class="io.sarl.bspl.eclipse.BSPLEclipseExecutableExtensionFactory:io.sarl.bspl.eclipse.natures.RemoveBsplNatureHandler"
            commandId="io.sarl.eclipse.natures.removeBsplNature" />
   </extension>

  <!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <!-- Extends the Java perspectives with the BSPL contributions -->
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="io.sarl.bspl.eclipse.wizard.newBsplSpecification"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut id="io.sarl.bspl.eclipse.wizard.newBsplSpecification"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="io.sarl.eclipse.perspective.devel">
         <newWizardShortcut id="io.sarl.bspl.eclipse.wizard.newBsplSpecification"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="io.sarl.eclipse.perspective.debug">
         <newWizardShortcut id="io.sarl.bspl.eclipse.wizard.newBsplSpecification"/>
      </perspectiveExtension>
   </extension>

</plugin>
