<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="io.sarl.eclipse.sreInstallations">
      <sreInstallation
            class="io.sarl.sre.eclipse.sre.JanusSREInstall">
      </sreInstallation>
   </extension>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="io.sarl.sre.eclipse.launching.JANUS_SUPPORT"
          class="io.sarl.sre.eclipse.buildpath.JanusClasspathContainerInitializer"/>
   </extension>

	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classpathContainerPage.name"
            class="io.sarl.sre.eclipse.buildpath.JanusContainerWizardPage"
            id="io.sarl.sre.eclipse.launching.JANUS_SUPPORT">
      </classpathContainerPage>
   </extension>

	<extension
         point="io.sarl.eclipse.sarlLaunchConfigurationPanels">
   		<panel class="io.sarl.sre.eclipse.network.JanusLaunchNetworkTabFactory" />
   </extension>

   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="io.sarl.sre.eclipse.network.JanusNetworkClasspathProvider"
            id="io.sarl.sre.eclipse.network.JanusNetworkClasspathProvider">
      </classpathProvider>
   </extension>

</plugin>
