<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="io.sarl.eclipse.sreInstallations">
      <sreInstallation
            class="io.janusproject.eclipse.sre.JanusSREInstall">
      </sreInstallation>
   </extension>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="io.janusproject.plugin.launching.JANUS_SUPPORT"
          class="io.janusproject.eclipse.buildpath.JanusClasspathContainerInitializer"/>
   </extension>

	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classpathContainerPage.name"
            class="io.janusproject.eclipse.buildpath.JanusContainerWizardPage"
            id="io.janusproject.plugin.launching.JANUS_SUPPORT">
      </classpathContainerPage>
   </extension>

</plugin>
