.doclet-header {
	display:block;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.doclet-footer {
	display:block;
    margin:0 0 0 0;
    padding:0 0 5px 0;
}
.doclet-header ul {
    margin:0 0 15px 0;
    padding:0;
}
.doclet-header ul li {
    list-style:none;
    font-size:13px;
}
.doclet-header-privateapi-message {
    background-color: red;
    color: white;
    border-color: darkgray;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
	font-size:18px;
}
.doclet-header-modulename {
    margin:5px 0 0 0;
}
.doclet-header-packagename {
    margin:5px 0 0 0;
}
.doclet-header-typename {
	display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	font-size:18px;
    color:#2c4557;
    margin:10px 0;
}
.doclet-header-smalltitle {
	display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	font-size:14px;
    color:#2c4557;
    margin:10px 0;
}