<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- ========= Categories ========= -->

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.Templates"
			name="%SARLTemplatesCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.Templates"
			name="%SARLTemplatesProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.NoUIExamples"
			name="%SARLNoUIExamplesCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.NoUIExamples"
			name="%SARLNoUIExamplesProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.JavaFXExamples"
			name="%SARLJavaFXExamplesCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.JavaFXExamples"
			name="%SARLJavaFXExamplesProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.UIExamples"
			name="%SARLUIExamplesCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.UIExamples"
			name="%SARLUIExamplesProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.Tutorials"
			name="%SARLTutorialsCategory"
			parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="io.sarl.project.Tutorials"
			name="%SARLTutorialsProjectCategory"
			parentCategory="io.sarl.eclipse.category.wizards" />
	</extension>

	<!-- ========= io.sarl.demos.basic.helloworld Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.helloworld"
			name="%HelloworldExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HelloworldExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.helloworld"
			name="%HelloworldExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HelloworldExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.examples.helloworld" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-helloworld" contentURI="contents/io-sarl-demos-basic-helloworld.zip" description="%HelloworldExample_Description"/>
			<fileToOpen location="io/sarl/demos/basic/helloworld/helloworld.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.basic.behaviors Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.behaviors"
			name="%BehaviorsExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.examples.behaviors"
			name="%BehaviorsExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.examples.behaviors" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-behaviors" contentURI="contents/io-sarl-demos-basic-behaviors.zip" description="%BehaviorsExample_Description"/>
			<fileToOpen location="io/sarl/demos/basic/behaviors/behaviors.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.basic.behaviorinheritance Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.behaviorinheritance"
			name="%BehaviorsInheritanceExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsInheritanceExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.behaviorinheritance"
			name="%BehaviorsInheritanceExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%BehaviorsInheritanceExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.behaviorinheritance" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-behaviorinheritance" contentURI="contents/io-sarl-demos-basic-behaviorinheritance.zip" description="%BehaviorsInheritanceExample_Description"/>
			<fileToOpen location="io/sarl/demos/basic/inheritance/inheritance.sarl"/>
		</example>
	</extension>

	<!-- ========= io.sarl.demos.basic.countdown Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.countdown"
			name="%CountdownExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CountdownExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.countdown"
			name="%CountdownExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CountdownExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.countdown" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-countdown" contentURI="contents/io-sarl-demos-basic-countdown.zip" description="%CountdownExample_Description"/>
			<fileToOpen location="io/sarl/demos/basic/countdown/countdown.sarl"/>
		</example>
	</extension>	

	<!-- ========= io.sarl.demos.basic.holarchy Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.holarchy"
			name="%HolarchyExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HolarchyExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.basic.holarchy"
			name="%HolarchyExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%HolarchyExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.basic.holarchy" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-basic-holarchy" contentURI="contents/io-sarl-demos-basic-holarchy.zip" description="%HolarchyExample_Description"/>
			<fileToOpen location="io/sarl/demos/basic/holarchy/holarchy.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.counter Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.counter"
			name="%CounterExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CounterExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.counter"
			name="%CounterExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%CounterExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.counter" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-counter" contentURI="contents/io-sarl-demos-counter.zip" description="%CounterExample_Description"/>
			<fileToOpen location="io/sarl/demos/counter/counteragent.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io.sarl.demos.factorial Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.factorial"
			name="%FactorialExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%FactorialExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.factorial"
			name="%FactorialExample_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.NoUIExamples"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%FactorialExample_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.factorial" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-demos-factorial" contentURI="contents/io-sarl-demos-factorial.zip" description="%FactorialExample_Description"/>
			<fileToOpen location="io/sarl/demos/factorial/basic/basicfactorial.sarl"/>
		</example>
	</extension>	

<!-- ========= io-sarl-tutorials-holonicauction Example ========= -->

<extension point="org.eclipse.ui.newWizards">
    <wizard id="io.sarl.tutorials.holonicauction"
        name="%io_sarl_tutorials_holonicauction_Name"
        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
        category="org.eclipse.ui.Examples/io.sarl.Tutorials"
        icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
        project="true">
        <description>%io_sarl_tutorials_holonicauction_Description</description>
    </wizard>
</extension>

<extension point="org.eclipse.ui.newWizards">
    <wizard id="io.sarl.tutorials.holonicauction"
        name="%io_sarl_tutorials_holonicauction_Name"
        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
        category="io.sarl.eclipse.category.wizards/io.sarl.project.Tutorials"
        icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
        project="true">
        <description>%io_sarl_tutorials_holonicauction_Description</description>
    </wizard>
</extension>

<extension point="org.eclipse.emf.common.ui.examples">
    <example wizardID="io.sarl.tutorials.holonicauction" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
        <projectDescriptor name="io-sarl-tutorials-holonicauction" contentURI="contents/io-sarl-tutorials-holonicauction.zip" description="%io_sarl_tutorials_holonicauction_Description"/>
        <fileToOpen location="io/sarl/examples/holonicauction/auctioneer.sarl"/>
    </example>
</extension>

<!-- ========= io-sarl-tutorials-pingpong Example ========= -->

<extension point="org.eclipse.ui.newWizards">
    <wizard id="io.sarl.tutorials.pingpong"
        name="%io_sarl_tutorials_pingpong_Name"
        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
        category="org.eclipse.ui.Examples/io.sarl.Tutorials"
        icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
        project="true">
        <description>%io_sarl_tutorials_pingpong_Description</description>
    </wizard>
</extension>

<extension point="org.eclipse.ui.newWizards">
    <wizard id="io.sarl.tutorials.pingpong"
        name="%io_sarl_tutorials_pingpong_Name"
        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
        category="io.sarl.eclipse.category.wizards/io.sarl.project.Tutorials"
        icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
        project="true">
        <description>%io_sarl_tutorials_pingpong_Description</description>
    </wizard>
</extension>

<extension point="org.eclipse.emf.common.ui.examples">
    <example wizardID="io.sarl.tutorials.pingpong" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
        <projectDescriptor name="io-sarl-tutorials-pingpong" contentURI="contents/io-sarl-tutorials-pingpong.zip" description="%io_sarl_tutorials_pingpong_Description"/>
        <fileToOpen location="io/sarl/examples/pingpong/boot.sarl"/>
    </example>
</extension>

<!-- ========= io-sarl-tutorials-pingpongspace Example ========= -->

<extension point="org.eclipse.ui.newWizards">
    <wizard id="io.sarl.tutorials.pingpongspace"
        name="%io_sarl_tutorials_pingpongspace_Name"
        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
        category="org.eclipse.ui.Examples/io.sarl.Tutorials"
        icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
        project="true">
        <description>%io_sarl_tutorials_pingpongspace_Description</description>
    </wizard>
</extension>

<extension point="org.eclipse.ui.newWizards">
    <wizard id="io.sarl.tutorials.pingpongspace"
        name="%io_sarl_tutorials_pingpongspace_Name"
        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
        category="io.sarl.eclipse.category.wizards/io.sarl.project.Tutorials"
        icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
        project="true">
        <description>%io_sarl_tutorials_pingpongspace_Description</description>
    </wizard>
</extension>

<extension point="org.eclipse.emf.common.ui.examples">
    <example wizardID="io.sarl.tutorials.pingpongspace" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
        <projectDescriptor name="io-sarl-tutorials-pingpongspace" contentURI="contents/io-sarl-tutorials-pingpongspace.zip" description="%io_sarl_tutorials_pingpongspace_Description"/>
        <fileToOpen location="io/sarl/examples/pingpongspace/boot.sarl"/>
    </example>
</extension>

	<!-- ========= io-sarl-demos-fireworks Example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.fireworks"
			name="%io_sarl_demos_fireworks_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.JavaFXExamples"
			icon="/icons/io-sarl-demos-fireworks.png"
			project="true">
			<description>%io_sarl_demos_fireworks_Description</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.fireworks"
			name="%io_sarl_demos_fireworks_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.JavaFXExamples"
			icon="/icons/io-sarl-demos-fireworks.png"
			project="true">
			<description>%io_sarl_demos_fireworks_Description</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.fireworks" pageImage="/icons/io-sarl-demos-fireworks.png">
			<projectDescriptor name="io-sarl-demos-fireworks" contentURI="contents/io-sarl-demos-fireworks.zip" description="%io_sarl_demos_fireworks_Description"/>
			<fileToOpen location="io/sarl/demos/fireworks/Fireworks.sarl"/>
		</example>
	</extension>

	<!-- ========= io-sarl-demos-sierpinskifractals Example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.sierpinskifractals"
			name="%io_sarl_demos_sierpinskifractals_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.JavaFXExamples"
			icon="/icons/io-sarl-demos-sierpinskifractals.png"
			project="true">
			<description>%io_sarl_demos_sierpinskifractals_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.sierpinskifractals"
			name="%io_sarl_demos_sierpinskifractals_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.JavaFXExamples"
			icon="/icons/io-sarl-demos-sierpinskifractals.png"
			project="true">
			<description>%io_sarl_demos_sierpinskifractals_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.sierpinskifractals" pageImage="/icons/io-sarl-demos-sierpinskifractals.png">
			<projectDescriptor name="io-sarl-demos-sierpinskifractals" contentURI="contents/io-sarl-demos-sierpinskifractals.zip" description="%io_sarl_demos_sierpinskifractals_Description"/>
			<fileToOpen location="io/sarl/demos/sierpinskiFractals/SierpinskiFractals.sarl"/>
		</example>
	</extension>

	<!-- ========= io-sarl-demos-gameoflife Example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.gameoflife"
			name="%io_sarl_demos_gameoflife_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.JavaFXExamples"
			icon="/icons/io-sarl-demos-gameoflife.png"
			project="true">
			<description>%io_sarl_demos_gameoflife_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.demos.gameoflife"
			name="%io_sarl_demos_gameoflife_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.JavaFXExamples"
			icon="/icons/io-sarl-demos-gameoflife.png"
			project="true">
			<description>%io_sarl_demos_gameoflife_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.demos.gameoflife" pageImage="/icons/io-sarl-demos-gameoflife.png">
			<projectDescriptor name="io-sarl-demos-gameoflife" contentURI="contents/io-sarl-demos-gameoflife.zip" description="%io_sarl_demos_gameoflife_Description"/>
			<fileToOpen location="io/sarl/demos/gameoflife/Boot.sarl"/>
		</example>
	</extension>
	
	<!-- ========= io-sarl-demos-boids-awt Example ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
	    <wizard id="io.sarl.demos.boids.awt"
	        name="%io_sarl_demos_boids_awt_Name"
	        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
	        category="org.eclipse.ui.Examples/io.sarl.UIExamples"
	        icon="/icons/io-sarl-demos-boids-awt.png"
	        project="true">
	        <description>%io_sarl_demos_boids_awt_Description</description>
	    </wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
	    <wizard id="io.sarl.demos.boids.awt"
	        name="%io_sarl_demos_boids_awt_Name"
	        class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
	        category="io.sarl.eclipse.category.wizards/io.sarl.project.UIExamples"
	        icon="/icons/io-sarl-demos-boids-awt.png"
	        project="true">
	        <description>%io_sarl_demos_boids_awt_Description</description>
	    </wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
	    <example wizardID="io.sarl.demos.boids.awt" pageImage="/icons/io-sarl-demos-boids-awt.png">
	        <projectDescriptor name="io-sarl-demos-boids-awt" contentURI="contents/io-sarl-demos-boids-awt.zip" description="%io_sarl_demos_boids_awt_Description"/>
	        <fileToOpen location="io-sarl-demos-boids-awt/src/main/sarl/io/sarl/demos/boids/BoidsSimulationLauncher.sarl"/>
	    </example>
	</extension>

	<!-- ========= io-sarl-templates-javafx Template ========= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.templates.javafx"
			name="%io_sarl_templates_javafx_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="org.eclipse.ui.Examples/io.sarl.Templates"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%io_sarl_templates_javafx_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="io.sarl.templates.javafx"
			name="%io_sarl_templates_javafx_Name"
			class="io.sarl.examples.SARLExampleExecutableExtensionFactory:io.sarl.examples.wizard.SarlExampleInstallerWizard"
			category="io.sarl.eclipse.category.wizards/io.sarl.project.Templates"
			icon="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif"
			project="true">
			<description>%io_sarl_templates_javafx_Description</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="io.sarl.templates.javafx" pageImage="platform:/plugin/org.eclipse.xtend.examples/icons/genproject.gif">
			<projectDescriptor name="io-sarl-templates-javafx" contentURI="contents/io-sarl-templates-javafx.zip" description="%io_sarl_templates_javafx_Description"/>
			<fileToOpen location="io/sarl/template/javafx/MyAppLauncher.sarl"/>
		</example>
	</extension>
	
	<!-- ========= Intro (welcome page) Extensions ========= -->	
	
	<extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/SARL-Example-Intro.xml">
      </configExtension>
	</extension>

	<!-- adding a new quicklink for the hello world example -->
   <extension
         point="org.eclipse.ui.intro.quicklinks">
         <command
          	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.examples.helloworld)"
            description="%HelloworldExample_Description"
            label="%HelloworldExample_Name"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/circles/graphics/icons/ctool/sa_onesample48.gif">
         </command>
   </extension>

	<!-- adding a new quicklink for the JavaFX template -->
   <extension
         point="org.eclipse.ui.intro.quicklinks">
         <command
          	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.templates.javafx)"
            description="%io_sarl_templates_javafx_Description"
            label="%io_sarl_templates_javafx_Name"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/circles/graphics/icons/ctool/sa_onesample48.gif">
         </command>
   </extension>

	<!-- adding a new quicklink for the fireworks example -->
	<extension
	      point="org.eclipse.ui.intro.quicklinks">
	      <command
	       	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.demos.fireworks)"
	         description="%io_sarl_demos_fireworks_Description"
	         label="%io_sarl_demos_fireworks_Name"
	         icon="/icons/io-sarl-demos-fireworks.png">
	      </command>
	</extension>
   
	<!-- adding a new quicklink for the Sierpinski fractal example -->
	<extension
	      point="org.eclipse.ui.intro.quicklinks">
	      <command
	       	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.demos.sierpinskifractals)"
	         description="%io_sarl_demos_sierpinskifractals_Description"
	         label="%io_sarl_demos_sierpinskifractals_Name"
	         icon="/icons/io-sarl-demos-sierpinskifractals.png">
	      </command>
	</extension>

	<!-- adding a new quicklink for the Game of Life example -->
	<extension
	      point="org.eclipse.ui.intro.quicklinks">
	      <command
	       	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.demos.gameoflife)"
	         description="%io_sarl_demos_gameoflife_Description"
	         label="%io_sarl_demos_gameoflife_Name"
	         icon="/icons/io-sarl-demos-gameoflife.png">
	      </command>
	</extension>

	<!-- adding a new quicklink for the Boids with AWT example -->
	<extension
	      point="org.eclipse.ui.intro.quicklinks">
	      <command
	           id="org.eclipse.ui.newWizard(newWizardId=io.sarl.demos.boids.awt)"
	         description="%io_sarl_demos_boids_awt_Description"
	         label="%io_sarl_demos_boids_awt_Name"
	         icon="/icons/io-sarl-demos-boids-awt.png">
	      </command>
	</extension>

</plugin>
