<?eclipse version="3.0"?>

<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="io.sarl.eclipse.category.wizards"
			name="%category.name">
		</category>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.eclipse.wizards.newproject.NewSarlProjectWizard"
		        icon="icons/sarl_new_project_16.png"
		        id="io.sarl.eclipse.wizard.newSarlProject"
		        name="%wizard.name.newSarlProject"
		        finalPerspective="io.sarl.eclipse.perspective.devel"
		        preferredPerspectives="io.sarl.eclipse.perspective.devel,org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective"
		        project="true">
				<description>%wizard.description.newSarlProject.short"</description>
		  </wizard>
		  <wizard 
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.wizards.newfile.NewSarlFileWizard"
		        icon="icons/sarl_new_file_16.png"
		        id="io.sarl.eclipse.wizard.newSarlScript"
		        name="%wizard.name.newSarlScript">
				<description>%wizard.description.newSarlScript"</description>
		  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_agent_16.png"
		        id="io.sarl.eclipse.wizard.newSarlAgent"
				name="%wizard.name.newAgent">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newagent.NewSarlAgentWizard" />
				</class>
				<description>%wizard.description.newAgent"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_behavior_16.png"
		        id="io.sarl.eclipse.wizard.newSarlBehavior"
				name="%wizard.name.newBehavior">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newbehavior.NewSarlBehaviorWizard" />
				</class>
				<description>%wizard.description.newBehavior"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_capacity_16.png"
		        id="io.sarl.eclipse.wizard.newSarlCapacity"
				name="%wizard.name.newCapacity">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newcapacity.NewSarlCapacityWizard" />
				</class>
				<description>%wizard.description.newCapacity"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_event_16.png"
		        id="io.sarl.eclipse.wizard.newSarlEvent"
				name="%wizard.name.newEvent">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newevent.NewSarlEventWizard" />
				</class>
				<description>%wizard.description.newEvent"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_skill_16.png"
		        id="io.sarl.eclipse.wizard.newSarlSkill"
				name="%wizard.name.newSkill">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newskill.NewSarlSkillWizard" />
				</class>
				<description>%wizard.description.newSkill"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/etool16/newclass_wiz.png"
		        id="io.sarl.eclipse.wizard.newSarlClass"
				name="%wizard.name.newClass">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newclass.NewSarlClassWizard" />
				</class>
				<description>%wizard.description.newClass</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/etool16/newint_wiz.png"
		        id="io.sarl.eclipse.wizard.newSarlInterface"
				name="%wizard.name.newInterface">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newinterface.NewSarlInterfaceWizard" />
				</class>
				<description>%wizard.description.newInterface</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/etool16/newenum_wiz.png"
		        id="io.sarl.eclipse.wizard.newSarlEnumeration"
				name="%wizard.name.newEnumeration">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newenum.NewSarlEnumerationWizard" />
				</class>
				<description>%wizard.description.newEnumeration</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/etool16/newannotation_wiz.png"
		        id="io.sarl.eclipse.wizard.newSarlAnnotation"
				name="%wizard.name.newAnnotation">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newanno.NewSarlAnnotationWizard" />
				</class>
				<description>%wizard.description.newAnnotation</description>
      	  </wizard>
	</extension>
	
	<extension
       id="SARLProjectNature"
       name="%nature.name"
       point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="io.sarl.eclipse.natures.SARLProjectNature" />
		</runtime>
		<!-- <requires-nature id="org.eclipse.xtext.ui.shared.xtextNature"/> -->
	</extension>
		
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/sarl_project_nature_overlay.png"
           id="io.sarl.eclipse.natures.SARLProjectNatureImage"
           natureId="io.sarl.eclipse.SARLProjectNature">
     </image>
  </extension>

  <extension
        id="io.sarl.eclipse.contenttype"
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.text"
           default-charset="UTF-8"
           file-extensions="sarl, SARL, Sarl"
           id="io.sarl.eclipse.contenttype.sarl"
           name="%content-type.name"
           priority="normal">
     </content-type>
  </extension>
  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="io.sarl.eclipse.launching.SARL_SUPPORT"
          class="io.sarl.eclipse.buildpath.SARLClasspathContainerInitializer"/>
   </extension>

	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classpathContainerPage.name"
            class="io.sarl.eclipse.buildpath.SARLContainerWizardPage"
            id="io.sarl.eclipse.launching.SARL_SUPPORT">
      </classpathContainerPage>
   </extension>

 	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
              delegate="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.runner.SARLLaunchConfigurationDelegate"
              delegateDescription="%launch.sarlLauncherDescription"
              delegateName="%launch.sarlLauncher"
              id="io.sarl.eclipse.debug.LaunchConfigType"
              modes="debug, run"
              name="%launch.sarlApplication"
              public="true"
              sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
        </launchConfigurationType>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            configTypeID="io.sarl.eclipse.debug.LaunchConfigType"
            icon="icons/sarl_16.png"
            id="io.sarl.eclipse.debug.LaunchConfigTypeImage" />
    </extension>
    
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <launchConfigurationTabGroup
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.dialog.SARLLaunchConfigurationTabGroup"
            description="%launch.sarlApplication"
            id="io.sarl.eclipse.debug.LaunchConfigTabGroup"
            type="io.sarl.eclipse.debug.LaunchConfigType" />
    </extension>

    <!-- Launch shortcuts (Run As, Debug As) -->
 	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.SARLLaunchShortcut"
        icon="icons/sarl_16.png"
        id="io.sarl.eclipse.launching.shortcuts.SARLLaunchShortcut"
        label="%launch.sarlApplication"
        modes="run,debug">
        <contextualLaunch>
         	<contextLabel mode="run" label="%launch.runas" />
         	<contextLabel mode="debug" label="%launch.debugas" />
	         <enablement>
	           <with variable="selection">
	               <count value="1"/>
	               <iterate ifEmpty="false" operator="or">
	                 <or>
	                   <reference definitionId="io.sarl.lang.SARL.Editor.opened"/>
	                   <and>
	                      <instanceof value="org.eclipse.core.resources.IFile"/>
						  <adapt type="org.eclipse.core.resources.IFile">
                            <test property="org.eclipse.core.resources.extension" value="sarl"/>
                          </adapt>	                      
	                   </and>
	                   <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
	                   <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
	                   <instanceof value="org.eclipse.core.resources.IProject"/>
	                   <and>
	                   		<instanceof value="org.eclipse.jdt.core.IJavaProject"/>
	             			<adapt type="org.eclipse.core.resources.IProject">
	             				<test property="org.eclipse.core.resources.projectNature"
	            					value="io.sarl.eclipse.SARLProjectNature"/>
	             			</adapt>
	                   </and>
	                 </or>
	               </iterate>
	           </with>
	       </enablement>
        </contextualLaunch>
      </shortcut>
   </extension>

 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.preferences.SREsPreferencePage"
          id="io.sarl.eclipse.preferences.SREsPreferencePage"
          name="%preference.installedSREs">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="io.sarl.eclipse.keyword_SRE"/>
        <keywordReference id="io.sarl.eclipse.keyword_RUNTIME"/>
        <keywordReference id="org.eclipse.jdt.ui.buildpath"/>
    </page>
    <page category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
          id="io.sarl.eclipse.preferences.Validator"
          name="%preference.errorWarning">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="org.eclipse.jdt.ui.severities"/>
	    <keywordReference id="org.eclipse.jdt.ui.formatter"/>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
            category="io.sarl.lang.SARL"
            class="io.sarl.eclipse.properties.RuntimeEnvironmentPropertyPage"
            id="io.sarl.eclipse.properties.SRE"
            name="%propertyPage.runtimeEnvironment">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="io.sarl.eclipse.keyword_SRE"/>
        <keywordReference id="io.sarl.eclipse.keyword_RUNTIME"/>
        <keywordReference id="org.eclipse.jdt.ui.buildpath"/>
        <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
		</enabledWhen>
        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
    </page>
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
          id="io.sarl.eclipse.properties.Validator"
          name="%preference.errorWarning">
		<keywordReference id="io.sarl.eclipse.keyword_SARL"/>
		<keywordReference id="org.eclipse.jdt.ui.severities"/>
	    <keywordReference id="org.eclipse.jdt.ui.formatter"/>
	    <enabledWhen>
		  <adapt type="org.eclipse.core.resources.IProject"/>
	    </enabledWhen>
        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
    </page>
 </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="io.sarl.eclipse.keyword_SARL"
            label="%keyword.sarl"/>
        <keyword
            id="io.sarl.eclipse.keyword_SRE"
            label="%keyword.sarl.sre"/>
        <keyword
            id="io.sarl.eclipse.keyword_RUNTIME"
            label="%keyword.sarl.runtime"/>
    </extension>
    <extension
          id="io_sarl_lang_product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="%product.name">
          <property
                name="windowImages"
                value="icons/sarl_16.png,icons/sarl_32.png,icons/sarl_48.png,icons/sarl_64.png,icons/sarl_128.png,icons/sarl_256.png">
          </property>
          <property
                name="aboutText"
                value="%about.general.text">
          </property>
          <property
                name="aboutImage"
                value="icons/eclipse-about-banner.png">
          </property>
          <property
                name="appName"
                value="%product.name">
          </property>
          <property
	            name="cssTheme"
	            value="org.eclipse.e4.ui.css.theme.e4_classic">
	      </property>
          <property
                name="preferenceCustomization"
                value="platform:/plugin/io.sarl.eclipse/plugin_customization.ini">
          </property>
          <property
                name="startupProgressRect"
                value="5,280,442,15">
          </property>
          <property
                name="startupForegroundColor"
                value="F3F3F3">
          </property>
          <property
                name="startupMessageRect"
                value="7,252,330,20">
          </property>
          <property name="introBrandingImageText"
          		value="SARL"/>
          <property name="introBrandingImage"
          		value="product:icons/sarl_64.png"/>
          <property name="introTitle"
          		value="%welcome.message">
          </property>
       </product>
    </extension>

  <!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <!-- Extends the Java perspectives with the SARL contributions -->
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlProject"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlAgent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlBehavior"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlCapacity"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlEvent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlSkill"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlProject"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlAgent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlBehavior"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlCapacity"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlEvent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlSkill"/>
      </perspectiveExtension>
   </extension>

	<extension point="org.eclipse.ui.perspectives">
   		<perspective id="io.sarl.eclipse.perspective.devel" name="%perspective.name" class="io.sarl.eclipse.perspectives.SARLPerspectiveFactory"
   		             icon="icons/sarl_16.png" />
   		<perspective id="io.sarl.eclipse.perspective.debug" name="%debug.perspective.name" class="io.sarl.eclipse.perspectives.SARLDebugPerspectiveFactory"
   		             icon="icons/debug_16.png" />
    </extension>
 
  <!-- Extensions -->

   <extension-point id="sreInstallations" name="%sreInstallations" schema="schema/sreInstallations.exsd"/>
   <extension-point id="sreInstallPages" name="%sreInstallPages" schema="schema/sreInstallPages.exsd"/>
   <extension-point id="projectSREProviderFactory" name="%projectSREProviderFactory" schema="schema/projectSREProviderFactory.exsd"/>
   
  <!-- Project configurators -->
   <extension
         point="org.eclipse.ui.ide.projectConfigurators">
      <projectConfigurator
            class="io.sarl.eclipse.natures.SARLProjectConfigurator"
            label="%projectconfigurator.name">
      </projectConfigurator>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
         <command commandId="io.sarl.eclipse.natures.addSarlNature"
                  label="%action.addSarlNature"
                  style="push">
             <visibleWhen checkEnabled="false">
             	<with variable="selection">
             		<iterate ifEmpty="false" operator="or">
             			<adapt type="org.eclipse.core.resources.IProject">
             				<not>
	             				<test property="org.eclipse.core.resources.projectNature"
	            					value="io.sarl.eclipse.SARLProjectNature"/>
             				</not>
             			</adapt>
             		</iterate>
             	</with>
             </visibleWhen>
         </command>
         <command commandId="io.sarl.eclipse.natures.removeSarlNature"
                  label="%action.removeSarlNature"
                  style="push">
             <visibleWhen checkEnabled="false">
             	<with variable="selection">
             		<iterate ifEmpty="false" operator="or">
             			<adapt type="org.eclipse.core.resources.IProject">
             				<test property="org.eclipse.core.resources.projectNature"
            					value="io.sarl.eclipse.SARLProjectNature"/>
             			</adapt>
             		</iterate>
             	</with>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="io.sarl.eclipse.natures.addSarlNature"
            name="%action.addSarlNature" />
      <command id="io.sarl.eclipse.natures.removeSarlNature"
            name="%action.removeSarlNature" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.natures.AddSarlNatureHandler"
            commandId="io.sarl.eclipse.natures.addSarlNature" />
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.natures.RemoveSarlNatureHandler"
            commandId="io.sarl.eclipse.natures.removeSarlNature" />
   </extension>
  <!-- Welcome pages -->
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="io.sarl.eclipse.io_sarl_lang_product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/SARL-Intro.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
         <command
          	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.eclipse.wizard.newSarlProject)"            
            description="%wizard.description.newSarlProject.long"
            label="%wizard.description.newSarlProject.short"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/new-project.png">
         </command>
   </extension>

  <!-- Splash -->
 	<extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="io.sarl.eclipse.splash.SarlSplashHandler"
            id="io.sarl.eclipse.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="io.sarl.eclipse.io_sarl_lang_product"
            splashId="io.sarl.eclipse.splash">
      </splashHandlerProductBinding>
   </extension>
   
</plugin>
