<?eclipse version="3.0"?>

<plugin>
	<extension point="org.eclipse.ui.importWizards">
		<category
			id="io.sarl.eclipse.category.wizards"
			name="%category.name">
		</category>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="io.sarl.eclipse.category.wizards"
			name="%category.name">
		</category>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.eclipse.wizards.newproject.NewSarlProjectWizard"
		        icon="icons/sarl_new_project_16.png"
		        id="io.sarl.eclipse.wizard.newSarlProject"
		        name="%wizard.name.newSarlProject"
		        finalPerspective="io.sarl.eclipse.perspective.devel"
		        preferredPerspectives="io.sarl.eclipse.perspective.devel,org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective"
		        project="true">
				<description>%wizard.description.newSarlProject.short</description>
		  </wizard>
		  <wizard 
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.wizards.newfile.NewSarlFileWizard"
		        icon="icons/sarl_new_file_16.png"
		        id="io.sarl.eclipse.wizard.newSarlScript"
		        name="%wizard.name.newSarlScript">
				<description>%wizard.description.newSarlScript</description>
		  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_agent_16.png"
		        id="io.sarl.eclipse.wizard.newSarlAgent"
				name="%wizard.name.newAgent">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newagent.NewSarlAgentWizard" />
				</class>
				<description>%wizard.description.newAgent</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_behavior_16.png"
		        id="io.sarl.eclipse.wizard.newSarlBehavior"
				name="%wizard.name.newBehavior">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newbehavior.NewSarlBehaviorWizard" />
				</class>
				<description>%wizard.description.newBehavior</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_capacity_16.png"
		        id="io.sarl.eclipse.wizard.newSarlCapacity"
				name="%wizard.name.newCapacity">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newcapacity.NewSarlCapacityWizard" />
				</class>
				<description>%wizard.description.newCapacity</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_event_16.png"
		        id="io.sarl.eclipse.wizard.newSarlEvent"
				name="%wizard.name.newEvent">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newevent.NewSarlEventWizard" />
				</class>
				<description>%wizard.description.newEvent</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_skill_16.png"
		        id="io.sarl.eclipse.wizard.newSarlSkill"
				name="%wizard.name.newSkill">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newskill.NewSarlSkillWizard" />
				</class>
				<description>%wizard.description.newSkill</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/newclass_16.png"
		        id="io.sarl.eclipse.wizard.newSarlClass"
				name="%wizard.name.newClass">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newclass.NewSarlClassWizard" />
				</class>
				<description>%wizard.description.newClass</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/newinterface_16.png"
		        id="io.sarl.eclipse.wizard.newSarlInterface"
				name="%wizard.name.newInterface">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newinterface.NewSarlInterfaceWizard" />
				</class>
				<description>%wizard.description.newInterface</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/newenumeration_16.png"
		        id="io.sarl.eclipse.wizard.newSarlEnumeration"
				name="%wizard.name.newEnumeration">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newenum.NewSarlEnumerationWizard" />
				</class>
				<description>%wizard.description.newEnumeration</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/newannotation_16.png"
		        id="io.sarl.eclipse.wizard.newSarlAnnotation"
				name="%wizard.name.newAnnotation">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.oop.newanno.NewSarlAnnotationWizard" />
				</class>
				<description>%wizard.description.newAnnotation</description>
      	  </wizard>
	</extension>
	
	<extension
       id="SARLProjectNature"
       name="%nature.name"
       point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="io.sarl.eclipse.natures.SARLProjectNature" />
		</runtime>
		<!-- <requires-nature id="org.eclipse.xtext.ui.shared.xtextNature"/> -->
	</extension>
		
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/sarl_project_nature_overlay.png"
           id="io.sarl.eclipse.natures.SARLProjectNatureImage"
           natureId="io.sarl.eclipse.SARLProjectNature">
     </image>
  </extension>
  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="io.sarl.eclipse.launching.SARL_SUPPORT"
          class="io.sarl.eclipse.buildpath.SARLClasspathContainerInitializer"/>
   </extension>

	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classpathContainerPage.name"
            class="io.sarl.eclipse.buildpath.SARLContainerWizardPage"
            id="io.sarl.eclipse.launching.SARL_SUPPORT">
      </classpathContainerPage>
   </extension>

 	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
              delegate="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.runner.agent.SARLAgentLaunchConfiguration"
              delegateDescription="%launch.agent.description"
              delegateName="%launch.agent"
              id="io.sarl.eclipse.debug.AgentLaunchConfigType"
              modes="debug, run"
              name="%launch.agent"
              public="true"
              sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
              sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
        </launchConfigurationType>
        <launchConfigurationType
              delegate="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.runner.application.SARLApplicationLaunchConfiguration"
              delegateDescription="%launch.application.description"
              delegateName="%launch.application"
              id="io.sarl.eclipse.debug.ApplicationLaunchConfigType"
              modes="debug, run"
              name="%launch.application"
              public="true"
              sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
              sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
        </launchConfigurationType>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            configTypeID="io.sarl.eclipse.debug.AgentLaunchConfigType"
            icon="icons/sarl_16.png"
            id="io.sarl.eclipse.debug.AgentLaunchConfigTypeImage" />
        <launchConfigurationTypeImage
            configTypeID="io.sarl.eclipse.debug.ApplicationLaunchConfigType"
            icon="icons/sarl_application_16.png"
            id="io.sarl.eclipse.debug.ApplicationLaunchConfigTypeImage" />
    </extension>
    
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <launchConfigurationTabGroup
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.dialog.SARLAgentLaunchConfigurationTabGroup"
            description="%launch.agent.description"
            id="io.sarl.eclipse.debug.AgentLaunchConfigTabGroup"
            type="io.sarl.eclipse.debug.AgentLaunchConfigType" />
         <launchConfigurationTabGroup
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.dialog.SARLApplicationLaunchConfigurationTabGroup"
            description="%launch.application.description"
            id="io.sarl.eclipse.debug.ApplicationLaunchConfigTabGroup"
            type="io.sarl.eclipse.debug.ApplicationLaunchConfigType" />
    </extension>

	<!-- Adapters for the application launchers -->
	<extension point="org.eclipse.core.runtime.adapters">
     <factory 
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.ui.IFileEditorInput">
        <adapter type="io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateMainLaunch"/>
     </factory>
     <factory 
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateAdapterFactory"
        adaptableType="org.eclipse.ui.IEditorPart">
        <adapter type="io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateMainLaunch"/>
     </factory>
     <factory 
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateAdapterFactory" 
        adaptableType="org.eclipse.core.resources.IResource">
        <adapter type="io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateMainLaunch"/>
     </factory>
     <factory 
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateAdapterFactory" 
        adaptableType="org.eclipse.jdt.core.IJavaElement">
        <adapter type="io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateMainLaunch"/>
     </factory>
     <factory 
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateAdapterFactory"
        adaptableType="io.sarl.eclipse.launching.shortcuts.SarlJavaElementDelegateMainLaunch">
        <adapter type="org.eclipse.jdt.core.IJavaElement"/>
     </factory>
  </extension>

    <!-- Property tester for launch shortcuts -->
	<extension point="org.eclipse.core.expressions.propertyTesters">
	  <propertyTester
	       type="org.eclipse.core.resources.IResource"
	       namespace="io.sarl.eclipse"
	       properties="hasAgent,hasMain"
	       id="io.sarl.eclipse.shortcuts.PropertyTester.resources"
	       class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.PropertyTester">
	   </propertyTester>
	  <propertyTester
	       type="org.eclipse.ui.IFileEditorInput"
	       namespace="io.sarl.eclipse"
	       properties="hasAgent,hasMain"
	       id="io.sarl.eclipse.shortcuts.PropertyTester.editors"
	       class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.PropertyTester">
	   </propertyTester>
	  <propertyTester
	       type="org.eclipse.jdt.core.IJavaElement"
	       namespace="io.sarl.eclipse"
	       properties="hasAgent,hasMain"
	       id="io.sarl.eclipse.shortcuts.PropertyTester.javaelements"
	       class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.PropertyTester">
	   </propertyTester>
	</extension>

    <!-- Launch shortcuts (Run As, Debug As) -->
 	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.AgentLaunchShortcut"
        icon="icons/sarl_16.png"
        id="io.sarl.eclipse.launching.shortcuts.AgentLaunchShortcut"
        label="%launch.agent"
        modes="run,debug">
        <contextualLaunch>
         	<contextLabel mode="run" label="%launch.agent.runas" />
         	<contextLabel mode="debug" label="%launch.agent.debugas" />
	         <enablement>
	           <with variable="selection">
	               <count value="1"/>
	               <iterate ifEmpty="false" operator="or">
	                 <test property="io.sarl.eclipse.hasAgent"/>
	               </iterate>
	           </with>
	       </enablement>
        </contextualLaunch>
         <description
       			description="%launch.agent.runas.description"
               mode="run">
         </description>
         <description
       			description="%launch.agent.debugas.description"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.launching.shortcuts.ApplicationLaunchShortcut"
        icon="icons/sarl_application_16.png"
        id="io.sarl.eclipse.launching.shortcuts.LaunchJavaApplicationShortcut"
        label="%launch.application"
        helpContextId="org.eclipse.jdt.debug.ui.shortcut_local_java_application"
        modes="run,debug">
        <contextualLaunch>
         	<contextLabel mode="run" label="%launch.application.runas" />
         	<contextLabel mode="debug" label="%launch.application.debugas" />
	         <enablement>
	           <with variable="selection">
	               <count value="1"/>
	               <iterate ifEmpty="false" operator="or">
	                 <test property="io.sarl.eclipse.hasMain"/>
	               </iterate>
	           </with>
	       </enablement>
        </contextualLaunch>
         <description
       			description="%launch.application.runas.description"
               mode="run">
         </description>
         <description
       			description="%launch.application.debugas.description"
               mode="debug">
         </description>
      </shortcut>
   </extension>

 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.preferences.SREsPreferencePage"
          id="io.sarl.eclipse.preferences.SREsPreferencePage"
          name="%preference.installedSREs">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="io.sarl.eclipse.keyword_SRE"/>
        <keywordReference id="io.sarl.eclipse.keyword_RUNTIME"/>
        <keywordReference id="org.eclipse.jdt.ui.buildpath"/>
    </page>
    <page category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
          id="io.sarl.eclipse.preferences.Validator"
          name="%preference.errorWarning">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="org.eclipse.jdt.ui.severities"/>
	    <keywordReference id="org.eclipse.jdt.ui.formatter"/>
    </page>
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.preferences.SarlEditorPreferencePage"
          id="io.sarl.eclipse.preferences.SarlEditorPreferencePage"
          name="%preference.sarlEditor">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
            category="io.sarl.lang.SARL"
            class="io.sarl.eclipse.properties.RuntimeEnvironmentPropertyPage"
            id="io.sarl.eclipse.properties.SRE"
            name="%propertyPage.runtimeEnvironment">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="io.sarl.eclipse.keyword_SRE"/>
        <keywordReference id="io.sarl.eclipse.keyword_RUNTIME"/>
        <keywordReference id="org.eclipse.jdt.ui.buildpath"/>
        <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
		</enabledWhen>
        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
    </page>
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
          id="io.sarl.eclipse.properties.Validator"
          name="%preference.errorWarning">
		<keywordReference id="io.sarl.eclipse.keyword_SARL"/>
		<keywordReference id="org.eclipse.jdt.ui.severities"/>
	    <keywordReference id="org.eclipse.jdt.ui.formatter"/>
	    <enabledWhen>
		  <adapt type="org.eclipse.core.resources.IProject"/>
	    </enabledWhen>
        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
    </page>
 </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="io.sarl.eclipse.keyword_SARL"
            label="%keyword.sarl"/>
        <keyword
            id="io.sarl.eclipse.keyword_SRE"
            label="%keyword.sarl.sre"/>
        <keyword
            id="io.sarl.eclipse.keyword_RUNTIME"
            label="%keyword.sarl.runtime"/>
    </extension>
    <extension
          id="io_sarl_lang_product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="%product.name">
          <property
                name="windowImages"
                value="icons/sarl_16.png,icons/sarl_32.png,icons/sarl_48.png,icons/sarl_64.png,icons/sarl_128.png,icons/sarl_256.png">
          </property>
          <property
                name="aboutText"
                value="%about.general.text">
          </property>
          <property
                name="aboutImage"
                value="icons/eclipse-about-banner.png">
          </property>
          <property
                name="appName"
                value="%product.name">
          </property>
          <property
	            name="cssTheme"
	            value="org.eclipse.e4.ui.css.theme.e4_classic">
	      </property>
          <property
                name="preferenceCustomization"
                value="platform:/plugin/io.sarl.eclipse/plugin_customization.ini">
          </property>
          <property
                name="startupProgressRect"
                value="5,280,442,15">
          </property>
          <property
                name="startupForegroundColor"
                value="F3F3F3">
          </property>
          <property
                name="startupMessageRect"
                value="7,252,330,20">
          </property>
          <property name="introBrandingImageText"
          		value="SARL"/>
          <property name="introBrandingImage"
          		value="product:icons/sarl_64.png"/>
          <property name="introTitle"
          		value="%welcome.message">
          </property>
       </product>
    </extension>

  <!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <!-- Extends the Java perspectives with the SARL contributions -->
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlProject"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlAgent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlBehavior"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlCapacity"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlEvent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlSkill"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlProject"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlAgent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlBehavior"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlCapacity"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlEvent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlSkill"/>
      </perspectiveExtension>
   </extension>

	<extension point="org.eclipse.ui.perspectives">
   		<perspective id="io.sarl.eclipse.perspective.devel" name="%perspective.name" class="io.sarl.eclipse.perspectives.SARLPerspectiveFactory"
   		             icon="icons/sarl_16.png" />
   		<perspective id="io.sarl.eclipse.perspective.debug" name="%debug.perspective.name" class="io.sarl.eclipse.perspectives.SARLDebugPerspectiveFactory"
   		             icon="icons/debug_16.png" />
    </extension>
 
  <!-- Extensions -->

   <extension-point id="sreInstallations" name="%sreInstallations" schema="schema/sreInstallations.exsd"/>
   <extension-point id="sreInstallPages" name="%sreInstallPages" schema="schema/sreInstallPages.exsd"/>
   <extension-point id="projectSREProviderFactory" name="%projectSREProviderFactory" schema="schema/projectSREProviderFactory.exsd"/>
   <extension-point id="sarlLaunchConfigurationPanels" name="%sarlLaunchConfigurationPanels" schema="schema/sarlLaunchConfigurationPanels.exsd"/>
   
  <!-- Project configurators -->
   <extension
         point="org.eclipse.ui.ide.projectConfigurators">
      <projectConfigurator
            class="io.sarl.eclipse.natures.SARLProjectConfigurator"
            label="%projectconfigurator.name">
      </projectConfigurator>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
         <command commandId="io.sarl.eclipse.natures.addSarlNature"
                  label="%action.addSarlNature"
                  style="push">
             <visibleWhen checkEnabled="false">
             	<with variable="selection">
             		<iterate ifEmpty="false" operator="or">
             			<adapt type="org.eclipse.core.resources.IProject">
             				<not>
	             				<test property="org.eclipse.core.resources.projectNature"
	            					value="io.sarl.eclipse.SARLProjectNature"/>
             				</not>
             			</adapt>
             		</iterate>
             	</with>
             </visibleWhen>
         </command>
         <command commandId="io.sarl.eclipse.natures.removeSarlNature"
                  label="%action.removeSarlNature"
                  style="push">
             <visibleWhen checkEnabled="false">
             	<with variable="selection">
             		<iterate ifEmpty="false" operator="or">
             			<adapt type="org.eclipse.core.resources.IProject">
             				<test property="org.eclipse.core.resources.projectNature"
            					value="io.sarl.eclipse.SARLProjectNature"/>
             			</adapt>
             		</iterate>
             	</with>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="io.sarl.eclipse.natures.addSarlNature"
            name="%action.addSarlNature" />
      <command id="io.sarl.eclipse.natures.removeSarlNature"
            name="%action.removeSarlNature" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.natures.AddSarlNatureHandler"
            commandId="io.sarl.eclipse.natures.addSarlNature" />
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.natures.RemoveSarlNatureHandler"
            commandId="io.sarl.eclipse.natures.removeSarlNature" />
   </extension>
  <!-- Welcome pages -->
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="io.sarl.eclipse.io_sarl_lang_product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/SARL-Intro.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
         <command
          	id="org.eclipse.ui.newWizard(newWizardId=io.sarl.eclipse.wizard.newSarlProject)"
            description="%wizard.description.newSarlProject.long"
            label="%wizard.description.newSarlProject.short"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/new-project.png">
         </command>
   </extension>

  <!-- Splash -->
 	<extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="io.sarl.eclipse.splash.SarlSplashHandler"
            id="io.sarl.eclipse.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="io.sarl.eclipse.io_sarl_lang_product"
            splashId="io.sarl.eclipse.splash">
      </splashHandlerProductBinding>
   </extension>

  <!-- Main SARL Menu -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
         <menu id="io.sarl.eclipse.mainMenu"
                  label="%menu.mainMenu">
           <separator
                  name="endCompilation"
                  visible="true" />
           <separator
                  name="endEclipseTools"
                  visible="true" />
           <separator
                  name="endRuntime"
                  visible="true" />
           <separator
                  name="endExtras"
                  visible="true" />
           <separator
                  name="endCommunity"
                  visible="true" />
         </menu>
      </menuContribution>
   </extension>

  <!-- Submit Eclipse logs as SARL issue -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:io.sarl.eclipse.mainMenu?after=endCommunity">
       <command commandId="io.sarl.eclipse.logs.submitIssue"
                label="%action.submitIssue"
                icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/eview16/errorwarning_tab.png"
                style="push" />
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="io.sarl.eclipse.logs.submitIssue"
            name="%action.submitIssue" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.log.SubmitIssueToSarlTrackerHandler"
            commandId="io.sarl.eclipse.logs.submitIssue" />
   </extension>

   <!-- Package explorer -->
   <extension point="org.eclipse.ui.views">
		<category
			id="io.sarl.lang.SARL"
			name="%category.name"/>
	   	<view
	         id="io.sarl.eclipse.explorer.PackageExplorer"
	         class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.explorer.SARLPackageExplorerPart"
	         category="io.sarl.lang.SARL"
	         allowMultiple="false"
	         restorable="true"
	         fastViewWidthRatio="0.2"
	         name="%view.packageExplorer"
	         icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/eview16/package.png">
	   	</view>
   </extension>

   <!-- Disable Xtend UI contributions by default. -->
   <extension point="org.eclipse.ui.activities">
		<activity id="io.sarl.eclipse.activities.xtendContributions" name="XtendContributionsActivity">  
			<enabledWhen>  
				<with variable="io.sarl.eclipse.Xtend.uiContributions">    
					<equals value="true"/>
				</with>
			</enabledWhen>
		</activity>
		<activityPatternBinding activityId="io.sarl.eclipse.activities.xtendContributions"
	                            pattern=".*[Xx]tend.*"/>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="io.sarl.eclipse.launching.shortcuts.SarlStandardClasspathProvider"
            id="io.sarl.eclipse.launching.shortcuts.SarlStandardClasspathProvider">
      </classpathProvider>
   </extension>

   <!-- Add a provider of SRE based on the standard JRE service API. -->
   <extension
         point="io.sarl.eclipse.projectSREProviderFactory">
     <projectSREProviderFactory
           class="io.sarl.eclipse.launching.sreproviding.JreServiceProjectSREProviderFactory">
     </projectSREProviderFactory>
   </extension>

   <!-- Add "Open Type Hierarchy" shortcut. https://www.eclipse.org/forums/index.php/t/157754/ -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="io.sarl.eclipse.popup.openTypeHierarchy"
            categoryId="org.eclipse.ui.category.navigate"
            name="%menu.open.type.hierarchy"
            helpContextId="org.eclipse.jdt.ui.open_type_action">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.typehierarchy.OpenTypeHierarchyHandler"
            commandId="io.sarl.eclipse.popup.openTypeHierarchy">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:io.sarl.eclipse.explorer.PackageExplorer?endof=group.open">
         <command commandId="io.sarl.eclipse.popup.openTypeHierarchy"
                  label="%menu.open.type.hierarchy"
                  mnemonic="n"
                  style="push">
             <visibleWhen>
             	<with variable="selection">
					<iterate ifEmpty="false" operator="or">
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.name" value="*.sarl" />
						</adapt>
					</iterate>
				</with>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <scheme
            id="io.sarl.eclipse.defaultAcceleratorConfiguration"
            name="%key.scheme.name"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            sequence="F4"
            schemeId="io.sarl.eclipse.defaultAcceleratorConfiguration"
            contextId="io.sarl.eclipse.explorer.PackageExplorer"
            commandId="io.sarl.eclipse.popup.openTypeHierarchy">
      </key>
   </extension>

   <!-- Add the "SARL" category within the export sections -->
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
	     name="%category.name"
	     id="io.sarl.eclipse.category.wizards">
	  </category>
   </extension>

   <!-- Add "Export as: SARL runnable application" -->
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="%wizard.name.exportSarlApp"
            icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/etool16/exportrunnablejar_wiz.png"
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.wizards.sarlapp.ExportSarlApplicationWizard"
            category="io.sarl.eclipse.category.wizards"
            id="io.sarl.eclipse.wizard.exportSarlApplication">
         <description>
            %wizard.description.exportSarlApp
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <keywordReference id="org.eclipse.jdt.ui.jarpackager"/>
      </wizard>
   </extension>

  <!-- Generate JavaDoc comment -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:xtext.ui.SourceMenu?after=org.eclipse.xtext.ui.ToggleCommentAction">
       <command commandId="io.sarl.eclipse.javadoc.generateComment"
                label="%action.generateElementDocumentation"
                style="push"
                mnemonic="t">
          <visibleWhen checkEnabled="false">
             <reference definitionId="io.sarl.lang.SARL.Editor.opened" />
          </visibleWhen>
      </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="io.sarl.eclipse.javadoc.generateComment"
            categoryId="org.eclipse.xtext.ui.category.XtextEditor"
            name="%action.generateElementDocumentation" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.javadoc.GenerateJavadocHandler"
            commandId="io.sarl.eclipse.javadoc.generateComment" />
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key sequence="M2+M3+J"
           commandId="io.sarl.eclipse.javadoc.generateComment"
           contextId="org.eclipse.xtext.ui.XtextEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

  <!-- Introduce SARL Element moving -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:#TextEditorContext?after=org.eclipse.xtext.ui.refactoring.RenameElement">
       <command commandId="io.sarl.lang.ui.refactor.moveSarlElement"
                label="%action.moveSarlElement"
                style="push">
          <visibleWhen checkEnabled="false">
             <reference definitionId="io.sarl.lang.SARL.Editor.opened" />
          </visibleWhen>
      </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="io.sarl.lang.ui.refactor.moveSarlElement"
            categoryId="org.eclipse.xtext.ui.category.XtextEditor"
            name="%action.moveSarlElement" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
            class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.refactoring.SarlMoveElementHandler"
            commandId="io.sarl.lang.ui.refactor.moveSarlElement">
          <activeWhen>
             <reference definitionId="io.sarl.lang.SARL.Editor.opened" />
          </activeWhen>
        </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key sequence="M2+M3+V"
           commandId="io.sarl.lang.ui.refactor.moveSarlElement"
           contextId="org.eclipse.xtext.ui.XtextEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
</plugin>
