<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="io.sarl.lang.ui.extraGenerators">
      <extraGenerator
            preferences="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.ui.configuration.PyPreferenceInitializer"
            generator="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.ui.generator.PyGeneratorProvider"
            validator="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.ui.validator.PyValidatorProvider"
            outputConfiguration="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.generator.configuration.PyOutputConfigurationProvider"
            keywords="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.generator.generator.PyKeywordProvider">
      </extraGenerator>
   </extension>

	 <extension
	       point="org.eclipse.ui.preferencePages">
	    <page
	          category="io.sarl.lang.SARL.compiler.preferencePage"
	          class="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.ui.preferences.PropertyPage"
	          id="io.sarl.pythongenerator.ui.preferencePage"
	          name="%preference.page">
	    </page>
	 </extension>
	 <extension
	       point="org.eclipse.ui.propertyPages">
	    <page
           category="io.sarl.lang.SARL.compiler.propertyPage"
           class="io.sarl.pythongenerator.ui.PyExecutableExtensionFactory:io.sarl.pythongenerator.ui.preferences.PropertyPage"
           id="io.sarl.pythongenerator.ui.propertyPage"
           name="%preference.page">
	        <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
	    </page>
	 </extension>
</plugin>
