<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
        point="org.eclipse.m2e.core.projectConfigurators">
     <configurator
           class="io.sarl.m2e.SARLProjectConfigurator"
           id="io.sarl.m2e.sarlConfigurator"
           name="SARL Project Configurator">
     </configurator>
  </extension>
   <extension
         point="io.sarl.eclipse.projectSREProviderFactory">
     <projectSREProviderFactory
           class="io.sarl.m2e.MavenProjectSREProviderFactory">
     </projectSREProviderFactory>
   </extension>
</plugin>
