<?eclipse version="3.0"?>

<plugin>
   <extension-point id="sreInstallations" name="%sreInstallations" schema="schema/sreInstallations.exsd"/>
   <extension-point id="sreInstallPages" name="%sreInstallPages" schema="schema/sreInstallPages.exsd"/>
   <extension-point id="projectSREProviderFactory" name="%projectSREProviderFactory" schema="schema/projectSREProviderFactory.exsd"/>
   
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="io.sarl.eclipse.category.wizards"
			name="%category.name">
		</category>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.eclipse.wizards.newproject.NewSarlProjectWizard"
		        icon="icons/sarl_new_project_16.png"
		        id="io.sarl.eclipse.wizard.newSarlProject"
		        name="%wizard.name.newSarlProject"
		        finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
		        preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective"
		        project="true">
				<description>%wizard.description.newSarlProject"</description>
		  </wizard>
		  <wizard 
		        category="io.sarl.eclipse.category.wizards"
		        class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory:io.sarl.eclipse.wizards.newfile.NewSarlFileWizard"
		        icon="icons/sarl_new_file_16.png"
		        id="io.sarl.eclipse.wizard.newSarlScript"
		        name="%wizard.name.newSarlScript">
				<description>%wizard.description.newSarlScript"</description>
		  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_agent_16.png"
		        id="io.sarl.eclipse.wizard.newSarlAgent"
				name="%wizard.name.newAgent">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newagent.NewSarlAgentWizard" />
				</class>
				<description>%wizard.description.newAgent"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_behavior_16.png"
		        id="io.sarl.eclipse.wizard.newSarlBehavior"
				name="%wizard.name.newBehavior">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newbehavior.NewSarlBehaviorWizard" />
				</class>
				<description>%wizard.description.newBehavior"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_capacity_16.png"
		        id="io.sarl.eclipse.wizard.newSarlCapacity"
				name="%wizard.name.newCapacity">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newcapacity.NewSarlCapacityWizard" />
				</class>
				<description>%wizard.description.newCapacity"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_event_16.png"
		        id="io.sarl.eclipse.wizard.newSarlEvent"
				name="%wizard.name.newEvent">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newevent.NewSarlEventWizard" />
				</class>
				<description>%wizard.description.newEvent"</description>
      	  </wizard>
		  <wizard
		        category="io.sarl.eclipse.category.wizards"
				icon="icons/sarl_new_skill_16.png"
		        id="io.sarl.eclipse.wizard.newSarlSkill"
				name="%wizard.name.newSkill">
				<class class="io.sarl.eclipse.SARLEclipseExecutableExtensionFactory">
					<parameter name="javatype" value="true" />
					<parameter name="guicekey" value="io.sarl.eclipse.wizards.elements.aop.newskill.NewSarlSkillWizard" />
				</class>
				<description>%wizard.description.newSkill"</description>
      	  </wizard>
	</extension>
	
	<extension
       id="SARLProjectNature"
       name="%nature.name"
       point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="io.sarl.eclipse.natures.SARLProjectNature" />
		</runtime>
		<!-- <requires-nature id="org.eclipse.xtext.ui.shared.xtextNature"/> -->
	</extension>
		
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/sarl_project_nature_overlay.png"
           id="io.sarl.eclipse.natures.SARLProjectNatureImage"
           natureId="io.sarl.eclipse.SARLProjectNature">
     </image>
  </extension>

  <extension
        id="io.sarl.eclipse.contenttype"
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.text"
           default-charset="UTF-8"
           file-extensions="sarl, SARL, Sarl"
           id="io.sarl.eclipse.contenttype.sarl"
           name="%content-type.name"
           priority="normal">
     </content-type>
  </extension>
  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="io.sarl.eclipse.launching.SARL_SUPPORT"
          class="io.sarl.eclipse.buildpath.SARLClasspathContainerInitializer"/>
   </extension>

	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classpathContainerPage.name"
            class="io.sarl.eclipse.buildpath.SARLContainerWizardPage"
            id="io.sarl.eclipse.launching.SARL_SUPPORT">
      </classpathContainerPage>
   </extension>

 	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
              delegate="io.sarl.eclipse.launching.runner.SARLLaunchConfigurationDelegate"
              delegateDescription="%launch.sarlLauncherDescription"
              delegateName="%launch.sarlLauncher"
              id="io.sarl.eclipse.debug.LaunchConfigType"
              modes="debug, run"
              name="%launch.sarlApplication"
              public="true"
              sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
        </launchConfigurationType>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            configTypeID="io.sarl.eclipse.debug.LaunchConfigType"
            icon="icons/sarl_16.png"
            id="io.sarl.eclipse.debug.LaunchConfigTypeImage" />
    </extension>
    
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <launchConfigurationTabGroup
            class="io.sarl.eclipse.launching.dialog.SARLLaunchConfigurationTabGroup"
            description="%launch.sarlApplication"
            id="io.sarl.eclipse.debug.LaunchConfigTabGroup"
            type="io.sarl.eclipse.debug.LaunchConfigType" />
    </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.eclipse.preferences.SREsPreferencePage"
          id="io.sarl.eclipse.preferences.SREsPreferencePage"
          name="%preference.installedSREs">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="io.sarl.eclipse.keyword_SRE"/>
        <keywordReference id="io.sarl.eclipse.keyword_RUNTIME"/>
        <keywordReference id="org.eclipse.jdt.ui.buildpath"/>
    </page>
    <page category="io.sarl.lang.SARL"
          class="io.sarl.lang.ui.SARLExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
          id="io.sarl.eclipse.preferences.Validator"
          name="%preference.errorWarning">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="org.eclipse.jdt.ui.severities"/>
	    <keywordReference id="org.eclipse.jdt.ui.formatter"/>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
            category="io.sarl.lang.SARL"
            class="io.sarl.eclipse.properties.RuntimeEnvironmentPropertyPage"
            id="io.sarl.eclipse.properties.SRE"
            name="%propertyPage.runtimeEnvironment">
        <keywordReference id="io.sarl.eclipse.keyword_SARL"/>
        <keywordReference id="io.sarl.eclipse.keyword_SRE"/>
        <keywordReference id="io.sarl.eclipse.keyword_RUNTIME"/>
        <keywordReference id="org.eclipse.jdt.ui.buildpath"/>
        <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
		</enabledWhen>
        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
    </page>
    <page
          category="io.sarl.lang.SARL"
          class="io.sarl.lang.ui.SARLExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
          id="io.sarl.eclipse.properties.Validator"
          name="%preference.errorWarning">
		<keywordReference id="io.sarl.eclipse.keyword_SARL"/>
		<keywordReference id="org.eclipse.jdt.ui.severities"/>
	    <keywordReference id="org.eclipse.jdt.ui.formatter"/>
	    <enabledWhen>
		  <adapt type="org.eclipse.core.resources.IProject"/>
	    </enabledWhen>
        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
    </page>
 </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="io.sarl.eclipse.keyword_SARL"
            label="%keyword.sarl"/>
        <keyword
            id="io.sarl.eclipse.keyword_SRE"
            label="%keyword.sarl.sre"/>
        <keyword
            id="io.sarl.eclipse.keyword_RUNTIME"
            label="%keyword.sarl.runtime"/>
    </extension>
    <extension
          id="io_sarl_lang_product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="%product.name">
          <property
                name="windowImages"
                value="icons/sarl_16.png,icons/sarl_32.png,icons/sarl_48.png,icons/sarl_64.png,icons/sarl_128.png,icons/sarl_256.png">
          </property>
          <property
                name="aboutText"
                value="%about.general.text">
          </property>
          <property
                name="aboutImage"
                value="icons/eclipse-about-banner.png">
          </property>
          <property
                name="appName"
                value="%product.name">
          </property>
          <property
	            name="cssTheme"
	            value="org.eclipse.e4.ui.css.theme.e4_classic">
	      </property>
          <property
                name="preferenceCustomization"
                value="platform:/plugin/io.sarl.eclipse/plugin_customization.ini">
          </property>
       </product>
    </extension>

  <!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlProject"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlAgent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlBehavior"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlCapacity"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlEvent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlSkill"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlProject"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlAgent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlBehavior"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlCapacity"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlEvent"/>
         <newWizardShortcut id="io.sarl.eclipse.wizard.newSarlSkill"/>
      </perspectiveExtension>
   </extension>

</plugin>
